* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

html {
  font-family: Ubuntu, system-ui, sans-serif;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.04em;
  font-weight: 800;
  line-height: 1.15;
}

@media (max-width: 767px) {

  body {
    font-size: 1.8rem;
    line-height: 1.55;
    background-color:grey;
  }
  main{
  display:flex;
  width:100vw;
  flex-wrap:wrap;
  justify-content:space-evenly;
  }
  img{
  width: 22vw;
  height:20vh;
  margin: 5px;
  border-radius:10px;
  box-shadow:2px 2px 2px 1px gold;
  object-fit:cover;
   }
  h1{
  text-align:center;
  background:linear-gradient(rgba(99, 68, 108, 0.5),rgb(99, 68, 108),rgba(99, 68, 108, 0.5));
  width:50vw;
  margin:10px auto;
  border:2px solid black;
  border-radius:5px;  
  font-size:15px;
  }
  footer{
    font-size:8px;
  }
}

@media (min-width: 768px) {

  body {
    font-size: 2rem;
    line-height: 1.7;
    background-color:grey;
  }
  main{
    display:flex;
    width:100vw;
    flex-wrap:wrap;
    justify-content:space-evenly;
  }
  img{
    width: 23vw;
    height:40vh;
    margin: 5px;
    border-radius:10px;
    box-shadow:2px 2px 2px 1px gold;
    object-fit:cover;
   
  }
h1{
  text-align:center;
  background:linear-gradient(rgba(99, 68, 108, 0.5),rgb(99, 68, 108),rgba(99, 68, 108, 0.5));
  width:50vw;
  margin:10px auto;
  border:2px solid black;
  border-radius:5px;
  }
  footer{
    font-size:12px;
  }
}